body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 100%;
  padding: 10px;
}

.container {
  padding: 10px;
}

.filter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.filter-button:hover {
  background-color: #0056b3;
}
